html,
body,
.mui-content {
	font-family: "微软雅黑";
	background-color: #efeff4;
}

.bgc {
	background-color: red;
}
.white{
	background-color: #FFFFFF;
}
a {
	color: #000000;
}

li {
	list-style: none;
}